.slim-banner {
	background: var(--color-accent);
	color: var(--color-secondary);
	padding: 0.9rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
}

.slim-banner__text {
	margin: 0;
	text-align: center;
	font-family: var(--font-secondary);
	font-weight: 700;
	line-height: 1.1;
	letter-spacing: 0.04em;
	text-transform: uppercase;
}

/* tablet */
@media (max-width: 1024px) {
	.slim-banner__text {
		font-size: 3.5rem;
	}
}

/* mobile */
@media (max-width: 768px) {
	.slim-banner__text {
		font-size: 2.5rem;
	}
}

