<style>
    #hero-speakers {
        margin-top: -1rem;
    }
    #hero-content {
        margin-top: -1.5rem;
    }
</style>

<section id="hero" class="hero my-3">
    <img class="w-100" src="{{ url_for('static', filename='img/title_no_shield_congress.png') }}" alt="Hero Image">
    <img class="w-100" id="hero-speakers" src="{{ url_for('static', filename='img/the_guys_mobile.png') }}" alt="Speakers of Freedom Con">
    <div>
        <p class="text-uppercase fw-bold text-center mb-0">It's Time to Step into the man you're called to be</p>
        <p class="mt-0 pt-0">Freedom Con 2026 is a 2-day gathering for Christian men who are ready to lead their families, stand firm in their communities, and take responsibility for the future.</p>
        <div class="d-flex gap-3 justify-content-center align-items-center flex-wrap">
            <a href="#register" class="btn btn-primary btn-xl">Get Tickets</a>
            <a href="#speakers" class="btn btn-secondary btn-xl">See Speakers</a>
        </div>
        <div class="d-flex gap-3 border-top border-bottom border-1 border-light justify-content-center align-items-center mt-3 text-uppercase">
            <p class="text-center mt-3 fw-lighter">Find your battle,</p>
            <p class="text-center mt-3 fw-lighter">Join the Congress</p>
        </div>
        <div class="d-flex flex-wrap justify-content-center align-items-center gap-2 mt-3 text-uppercase fw-lighter">
            <span>June 19-20, 2026</span>
            <span class="">|</span>
            <span>The Gorge Amphitheatre, WA</span>
            <span class="">|</span>
            <span>2-Day Outdoor Conference + Camping</span>
            <span class="">|</span>
            <span>Worship · Speakers · Brotherhood</span>
        </div>
    </div>
</section>