<div class="spk-modal-backdrop" id="speakerBioModal" aria-hidden="true">
	<div class="spk-modal" role="dialog" aria-modal="true" aria-labelledby="sbmName">
		<button class="spk-modal__close" id="sbmClose" aria-label="Close speaker bio">&times;</button>
		<div class="spk-modal__body">
			<div class="spk-modal__left" data-sbm-left>
				<img class="spk-modal__photo" data-sbm-img src="" alt="" />
			</div>
			<div class="spk-modal__right">
				<div class="spk-modal__header">
					<h2 class="spk-modal__name" id="sbmName" data-sbm-name></h2>
					<div class="spk-modal__accent-line"></div>
					<p class="spk-modal__titles" data-sbm-titles></p>
				</div>
				<div class="spk-modal__bio" data-sbm-bio></div>
				<div class="spk-modal__orgs-wrap">
					<ul class="spk-modal__orgs" data-sbm-orgs></ul>
				</div>
			</div>
		</div>
	</div>
</div>
