<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freedom Con</title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrapcss/bootstrap.min.css') }}">

    {% block styles %}
        
    {% endblock %}
</head>
<body>
    {% block page_wrapper %}
        
    {% block navigation %}
        <p>Navigation Here</p>
    {% endblock %}

    {% block content %}
        <p>Content Here</p>
    {% endblock %}

    {% block footer %}
        <p>Footer Here</p>    
    {% endblock %}

    {% endblock %}

    <!-- bootstrap -->
    <script src="{{ url_for('static', filename='js/bootstrapjs/bootstrap.bundle.min.js') }}"></script>
    {% block scripts %}
        
    {% endblock %}
</body>
</html>