{% set photos = [
	{'src': url_for('static', filename='img/past_smc/1018_GCC_LifeinMotionPhotography.jpg'), 'alt': 'Past event photo 1'},
	{'src': url_for('static', filename='img/past_smc/1020_GCC_LifeinMotionPhotography.jpg'), 'alt': 'Past event photo 2'},
	{'src': url_for('static', filename='img/past_smc/_CDC4451.jpg'), 'alt': 'Past event photo 3'},
	{'src': url_for('static', filename='img/past_smc/_CDC4567.jpg'), 'alt': 'Past event photo 4'},
	{'src': url_for('static', filename='img/past_smc/_CDC4674.jpg'), 'alt': 'Past event photo 5'},
	{'src': url_for('static', filename='img/past_smc/_CDC4688.jpg'), 'alt': 'Past event photo 6'},
	{'src': url_for('static', filename='img/past_smc/_CDC4780.jpg'), 'alt': 'Past event photo 7'},
	{'src': url_for('static', filename='img/past_smc/_CDC4835.jpg'), 'alt': 'Past event photo 8'},
	{'src': url_for('static', filename='img/past_smc/_CDC4846.jpg'), 'alt': 'Past event photo 9'},
	{'src': url_for('static', filename='img/past_smc/_CDC4907R.jpg'), 'alt': 'Past event photo 10'},
	{'src': url_for('static', filename='img/past_smc/_CDC4915.jpg'), 'alt': 'Past event photo 11'},
	{'src': url_for('static', filename='img/past_smc/_CDC5052R.jpg'), 'alt': 'Past event photo 12'},
	{'src': url_for('static', filename='img/past_smc/_CDC5118R.jpg'), 'alt': 'Past event photo 13'}
] %}

<section class="past-carousel-section" aria-label="Past event photos">
	<div id="pastPhotosCarousel" class="past-carousel" data-interval="3500" data-autoplay="true" data-photos='{{ photos | tojson }}'>
		<div class="past-carousel-grid">
			<div class="past-carousel-card past-carousel-card--side">
				<img class="past-photo past-photo-prev" src="{{ photos[0].src }}" alt="{{ photos[0].alt }}" loading="lazy">
			</div>
			<div class="past-carousel-card past-carousel-card--center">
				<img class="past-photo past-photo-center" src="{{ photos[1].src }}" alt="{{ photos[1].alt }}" loading="lazy">
			</div>
			<div class="past-carousel-card past-carousel-card--side">
				<img class="past-photo past-photo-next" src="{{ photos[2].src }}" alt="{{ photos[2].alt }}" loading="lazy">
			</div>
		</div>
	</div>
</section>