<section class="what-section" aria-label="What section">
	<div class="what-section__media" aria-hidden="true">
		<div class="what-section__media-inner" data-image-x="50%" data-image-y="0%" data-image-zoom="1">
            <img src="{{ url_for('static', filename='img/speakers3.png') }}" alt="Speakers at Freedom Con" class="what-section__image">
        </div>
	</div>
	<div class="what-section__content">
		<h2 class="what-section__title">Speakers</h2>
	</div>
</section>

<section class="what-section what-section--reverse" aria-label="What section alternate">
	<div class="what-section__media" aria-hidden="true">
		<div class="what-section__media-inner" data-image-x="50%" data-image-y="0%" data-image-zoom="1">
            <img src="{{ url_for('static', filename='img/speakers3.png') }}" alt="Speakers at Freedom Con" class="what-section__image">
        </div>
	</div>
	<div class="what-section__content">
		<h2 class="what-section__title">Worship</h2>
	</div>
</section>

<section class="what-section" aria-label="What section">
	<div class="what-section__media" aria-hidden="true">
		<div class="what-section__media-inner" data-image-x="50%" data-image-y="0%" data-image-zoom="1">
            <img src="{{ url_for('static', filename='img/camping.jpg') }}" alt="Speakers at Freedom Con" class="what-section__image">
        </div>
	</div>
	<div class="what-section__content">
		<h2 class="what-section__title">Camping</h2>
	</div>
</section>

<section class="what-section what-section--reverse" aria-label="What section alternate">
	<div class="what-section__media" aria-hidden="true">
		<div class="what-section__media-inner" data-image-x="50%" data-image-y="0%" data-image-zoom="1">
            <img src="{{ url_for('static', filename='img/speakers3.png') }}" alt="Speakers at Freedom Con" class="what-section__image">
        </div>
	</div>
	<div class="what-section__content">
		<h2 class="what-section__title">Vendors</h2>
	</div>
</section>

<section class="what-section" aria-label="What section">
	<div class="what-section__media" aria-hidden="true">
		<div class="what-section__media-inner" data-image-x="50%" data-image-y="0%" data-image-zoom="1">
            <img src="{{ url_for('static', filename='img/crowder.jpg') }}" alt="Speakers at Freedom Con" class="what-section__image">
        </div>
	</div>
	<div class="what-section__content">
		<h2 class="what-section__title">Crowder</h2>
	</div>
</section>

<section class="what-section what-section--reverse" aria-label="What section alternate">
	<div class="what-section__media" aria-hidden="true">
		<div class="what-section__media-inner" data-image-x="50%" data-image-y="0%" data-image-zoom="1">
            <img src="{{ url_for('static', filename='img/gorge_ai_1.jpg') }}" alt="Speakers at Freedom Con" class="what-section__image">
        </div>
	</div>
	<div class="what-section__content">
		<h2 class="what-section__title">Venue</h2>
	</div>
</section>
